*{margin:0 ; padding:0; outline:0;}
body{background:#F0F2F5;}
.temp{overflow: hidden;}
.content{
    margin:0 auto;
    width: 1015px ;
    height: auto;
    background:#F0F2F5;
    padding: 155px 10px;
}
.heading{
    float: left;
    background:#F0F2F5;
}
.heading h2{
    color: #1C1E21;
   font-family: Arial, Helvetica, sans-serif;
font-weight: lighter;
padding: 5px 36px;
}
.logForm{
    float: right;
    background:#ffffff;
    padding: 30px;
    margin: 22px;
    
}
/* body{font-family:arial; font-size:18px; background:#F0F2F5; }
.temp{overflow: hidden;}
.main{background:#F0F2F5;}
.heading{
    float: left;
}
.page{background: #ffffff;
    padding: 10px;
    width: 356px;
    margin: 22px;
    float: right;}
    .button{ background-color: #166FE5;color: #ffffff; padding: 10px 50px;text-align: center;} */