*{margin:0; padding:0; outline:0;}
body{font-family:arial; font-size:18px; background:#F0F2F5; }
.temp{overflow: hidden;}
.main{background:#F0F2F5;}
.heading{
    float: left;
}
.page{background: #ffffff;
    padding: 10px;
    width: 356px;
    margin: 22px;
    float: right;}
    .button{ background-color: #166FE5;color: #ffffff; padding: 10px 50px;text-align: center;}